.rad-members {
  margin-top: @padding-larger;
  position: relative;
  .rad-member {
    display: inline-block;
    vertical-align: top;
    padding: @padding-base @padding-larger;
    border-radius: @border-radius-large;
    h4, h5 {
      margin-bottom: 0;
    }
    h5 {
      margin-top: @padding-smallest;
      a {
        padding-left: @padding-large;
        text-decoration: none;
        position: relative;
        img {
          width: @padding-base;
          height: @padding-base;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    .rad-member-profile {
      width: 6em;
      margin-bottom: @padding-small;
      border-radius: 50%;
      box-shadow: @box-shadow-large;
    }
  }
}
